<h1>Login</h1>
<div class="sign-in-form">
	<%= form_for :session, url: session_path do |form| %>
		<div class="form-fiel">
			<%= form.label :email %>
			<%= form.text_field :email %>
		</div>
		<div class="form-fiel">
			<%= form.label :password %>
			<%= form.password_field :password %>
		</div>

		<div class="actions">
			<%= form.submit "Log In" %>
		</div>
	<% end %>
</div>
