<div class="user">
	<h1>
		<%= user.name %>
	</h1>
	
	<% if current_user_can_post_to_this_page user %>
		<%= render "links/new" %>
	<% end %>

	<div class="link">
		<%= render user.links %>
	</div>
</div>