<div class="link">
	<%= link_to( 
			image_tag(
						link.image.url(:thumb), 
						class: "thumb",
						data: {link_url: user_link_path(current_user, link)}), 
			link.url, 
			target: "_blank") %>
	Title: <span id="title_<%= link.id %>"><%= link.page_title %></span>
	<div class="tags">
		<ul>
			<%= render link.tags %>
		</ul>
	</div>
	<p>
	<% if current_user_can_edit(link) %>	
		<%= link_to("Delete", user_link_path(current_user, link), 
								method: :delete,
								data: {confirm: "Tem certeza que quer eliminar o link?"}) %> | 
		<%= link_to "Edit", edit_user_link_path(current_user, link) %>
	<% end %>
	</p>
</div>