<div class="edit-link">
	<%= form_for [current_user, @link] do |form| %>
		<div class="form-group">
			<%= form.text_field :url, placeholder: "Url here" %>
		</div>
		<div class="form-group">
			<%= form.text_field :page_title, placeholder: "Page title" %>
		</div>
		<div class="form-group">
			<%= form.text_field :tag_names, placeholder: "Tag names, separated by commas" %>
		</div>
		<div class="form-group">
			<%= form.text_area :description, placeholder: "Description" %>
		</div>
		<%= form.submit "Salvar" %>
	<% end %>
</div>