<%= link_to "Fav", root_path  %> | 
<% if current_user %>
	<%= link_to "Log out", session_path, method: :delete %>
<% else %>
	<%= link_to "Log in", new_session_path %> | 
	<%= link_to "Sign up", new_user_path %>
<% end %>
 | <%= link_to "Users", users_path %>