<!DOCTYPE html>
<html>
<head>
  <title>Meus Favoritos</title>
  <%= stylesheet_link_tag    "application", media: "all"%>
  <%= javascript_include_tag "application"%>
  <%= csrf_meta_tags %>
</head>
<body>
	
	<header>
		<%= render "layouts/header" %>
	</header>

	<div class="notifications">
		<%= render "layouts/notifications" %>
	</div>

<%= yield %>

</body>
</html>
